<section class="main">
    <aside class="container">
        <aside class="body-top">
<aside class="round"></aside>
           <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem" height="55rem"></aside>
           <p class="text">Tim Tyler</p>
           <aside  class="icons">
            <a href=""><span class="material-icons-sharp" id="call">
                call
            </span></a>
            <a href=""><span class="material-icons-sharp" id="chat">
            mail
            </span></a>
            <a href=""><span class="material-icons-sharp"  id="mail">
                chat_bubble
            </span></a>
            </aside>
           

        </aside>
        <aside class="body-bottom">
       <a class="phone"><span class="material-icons-sharp" id="call">
        call
    </span><p>+919633066265</p></a>
       <a class="email"><span class="material-icons-sharp" id="chat">
        mail
    </span><p>163sahfan@gmail.com</p></a>
        </aside>

    </aside>
</section>
