.main {
  font-family: "Montserrat", sans-serif !important;
  width: 21rem;
  height: 24.6rem;
  //   background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #ebebeb;
  .container {
    width: 21rem;
    height: 22.6rem;

    background-color: white;
    .body-top {
      width: 100%;
      height: 70%;
      position: relative;
      //   background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      flex-direction: column;
      gap: 1.5rem;
      border-bottom: 0.1rem solid #ebebeb;
      // padding: 1rem;
      // background-color: green;
      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.8rem;
        height: 6rem;
        border-radius: 50%;
        // background-color: blue;
        border: 0.1rem solid #ebebeb;
      }
      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.721);
      }
      .icons {
        display: flex;
        gap: 1rem;
        #call {
          background-color: #24c8c9;
        }
        #chat {
          background-color: #48bc14;
        }
        #mail {
          background-color: #ff992e;
        }
        .material-icons-sharp {
          font-size: 1.7rem;
          padding: 1rem;
          color: white;
          //   background-color: blueviolet;
          border-radius: 50%;
        }
      }
      .round {
        position: absolute;
        top: 4.7rem;
        right: 7.8rem;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background-color: #48bc14;
      }
    }
    .body-bottom {
      width: 100%;
      height: 30%;
      padding: 1rem 2rem;
      //   background-color: green;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
      #call {
        font-size: 1.7rem;
        color: #24c8c9;
      }
      #chat {
        font-size: 1.7rem;
        color: #48bc14;
      }
      .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        gap: 1rem;
        p {
          font-size: 1.2rem;
        }
      }
      .email {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        p {
          font-size: 1.2rem;
          //   font-weight: 500;
        }
      }
    }
  }
}
///////////////////////////////////////////////////////
.notification-round {
  // border: 2px solid #e1be992c;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  top: 0.2rem;
  left: 1.5rem;
  border-radius: 50%;
  .notificatoin-number {
    font-size: 0.7rem;
    // padding: 0.1rem;
    // display: flex;
    height: 1.2rem;
    width: 1.2rem;
    border: 2px solid #dbc4abf1;
    background-color: #ff992e;
    border-radius: 50%;
  }
}
