@import '../../scss/base/mixins';

.main {
    @include d-flex(center, center);
    @include width-height-boxshadow(100%, 100vh, none);

    .body {
        @include width-height-boxshadow(40em,34.2em, (rgba(100, 100, 111, 0.2) 0px 7px 29px 0px));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        // background-color: grey;
        .over {
            @include width-height-boxshadow(35em, 26em, none);

            // background-color: yellow;
           
            .overlap {
                @include flex-v-center;
                flex-direction: column;
                // background-color: grey;
                // gap: .2em;

                // justify-content: center;
                .icon {
                    img {
                        @include width-height-boxshadow(20em, auto, none);
                        // display: flex;
                        // margin-top: 4em;
                        position: relative;
                           bottom: .3em;
                        // dis
                    }
                }

                .text {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.4em;

                    .boldtext {
                        font-size: 1.98em;
                        font-weight: 600;
                        color: #10182F;
                    }

                    .thintext {
                        font-size: 1.4em;
                        color: #A7A7A7;
                        text-align: center
                    }
                }

                .icontext {
                    @include flex-v-center;
                    flex-direction: column;
                    padding-top: 1em;
                    padding-bottom: 1em;

                    // justify-content: center;
                    .icon {
                        img {
                            @include width-height-boxshadow(3em, auto, none);
                        }
                    }

                    .boldtext {
                        font-size: 1em;
                        font-weight: 800;
                        color: #080031;
                    }

                    .thintext {
                        color: #080031;
                        font-size: .86em;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 1.7em;
                    position: relative;
                      top: 2.3em;
                    .unsubmit {
                        @include width-height-borderwidth-backgroundcolor-fontsize-color(10em, 3.2em, 0.1em, none, 1.2em, #FF992E);
                        // padding: .3em;
                        border-radius: .4em;
                        background-color: white;
                        border: 1.6px solid#FF992E;
                        font-weight: 600;

                    }

                    .submit {
                        @include width-height-borderwidth-backgroundcolor-fontsize-color(10em, 3.2em, .01em, #00B197, 1.2em, white);
                        border-radius: .4em;
                        border: 1.6px solid #00B197;
                    }
                }
            }

        }
    }
}




// img{
//     width: 100px;
//     height:100px;
// }