<header class="main">
    <section class="body">
        <aside class="over">
          
            <section class="overlap">
                <aside class="icon">
                    <img src="\assets\hand1.png">
                </aside>
                <aside class="text">
                    <header class="boldtext">Successfully added new seller!</header>
                    <header class="thintext">In publishing and graphic design, Lorem ipsum is a <br> placeholder.
                    </header>
                </aside>
               
                <aside class="buttons">
                    <button class="unsubmit">Do it Later</button>
                    <button class="submit">Add More</button>

                </aside>
            </section>
        </aside>
    </section>
</header>

