<header class="main">
    <section class="nav-bar">
        <aside class="icon-xene">
            <img src="\assets\xeneicon.jpeg" alt="">
        </aside>
        <aside class="group">
            <aside class="search">
                <div class="input-container">
                    <span class="material-symbols-outlined icon">search</span>
                    <input class="input-field" type="text" placeholder="search" name="usrnm">
                </div>
            </aside>
            <aside class="bell-icon"> <span class="material-symbols-outlined bell">notifications</span>
                <aside class="notification-round">
                    <p class="notificatoin-number">10</p>
                </aside>
            </aside>
            <aside class="profile-text">
                <img src="\assets\profile.jpeg" width="40rem" height="40rem" alt="" class="image">
                <aside class="text">
                    <h5 class="bold-text">Tovino Thomas </h5>
                    <h5 class="thin-text">Super Power User</h5>
                </aside>
            </aside>
            <aside class="icon-down"><span class="material-symbols-outlined">expand_more</span></aside>
        </aside>
    </section>
    <section class="body">
        <aside class="side-bar">
            <aside class="dashboard" id="group-style">
                <img src="\assets\1.jpeg" alt="" width="23.5rem" height="auto">
                <p>Dashboard</p>
            </aside>
            <aside class="users" id="group-style">
                <img src="\assets\2.jpeg" alt="" width="30rem" height="auto">
                <p>Active Users</p>

            </aside>
            <aside class="property" id="group-style">
                <img src="\assets\3.jpeg" alt="" width="30rem" height="auto">
                <p>Properties</p>
            </aside>
            <aside class="enquiry" id="group-style">
                <img src="\assets\4.jpeg" alt="" width="20rem" height="auto">
                <p>Enquiry</p>
            </aside>
            <aside class="requist" id="group-style">
                <img src="\assets\5.jpeg" alt="" width="23.5rem" height="auto">
                <p>Request</p>
            </aside>
            <aside class="chat" id="group-style">
                <img src="\assets\6.jpeg" alt="" width="23.5rem" height="auto">
                <p>Chat</p>
            </aside>
        </aside>
        <aside class="main-body">
            <section class="main-body-top">
                <aside class="search">
                    <h4 class="requist-text">Request List :</h4>
                    <div class="input-container">
                        <span class="material-symbols-outlined icon">search</span>
                        <input class="input-field" type="text" placeholder="search" name="usrnm">
                    </div>
                </aside>
                <aside class="icons">
                    <aside class="dashboard-border">
                        <aside class="dashboard-icon"> <img src="\assets\1.jpeg" alt="" width="20rem" height="20rem">
                        </aside>
                    </aside>
                    <aside class="squire-icon">
                        <img src="\assets\eeeeeeeeeeeeeeeeee.png" alt="" width="30rem" height="30rem">
                    </aside>
                    <aside class="filter">
                        <aside class="icon">
                            <span class="material-symbols-outlined">
                                filter_alt
                            </span>
                        </aside>
                        <h4 class="filter-text">Filter</h4>
                    </aside>

                </aside>
            </section>
            <section class="main-body-bottom">

                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\image1.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\photo1.jpg" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem"></aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!-- ////////////////////////// -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture2.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile2.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture3.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile3.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture4.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile4.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture5.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile5.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture6.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile6.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture7.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile7.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>
                <!--  -->
                <aside class="card">

                    <aside class="parrent-image">
                        <img src="\assets\picture2.png" alt="" class="image" width="100%" height="126rem">
                        <aside class="sales-card">
                            <img src="\assets\sales@2x.png" alt="" width="15rem" height="15rem"> Sales
                        </aside>
                        <aside class="image-center-design">
                            <p class="unpublished-text">Unpublished</p>
                            <img src="\assets\lock.png" alt="" class="icon-image" width="20rem" height="24rem">
                        </aside>

                    </aside>
                    <aside class="hover-img">
                        <img src="\assets\profile8.png" alt="" width="50.4rem" height="auto" class="image-round"
                            id="abcd">
                        <section class="main1">
                            <section class="main">
                                <aside class="container">
                                    <aside class="body-top">
                                        <aside class="round"></aside>
                                        <aside class="profile"><img src="\assets\profile6.png" alt="" width="55rem"
                                                height="55rem">
                                        </aside>
                                        <p class="text">Tim Tyler</p>
                                        <aside class="icons">
                                            <a href=""><span class="material-icons-sharp" id="call">
                                                    call
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="chat">
                                                    mail
                                                </span></a>
                                            <a href=""><span class="material-icons-sharp" id="mail">
                                                    chat_bubble
                                                </span></a>
                                        </aside>


                                    </aside>
                                    <aside class="body-bottom">
                                        <a class="phone"><span class="material-icons-sharp" id="call">
                                                call
                                            </span>
                                            <p>+919633066265</p>
                                        </a>
                                        <a class="email"><span class="material-icons-sharp" id="chat">
                                                mail
                                            </span>
                                            <p>163sahfan@gmail.com</p>
                                        </a>
                                    </aside>

                                </aside>
                            </section>
                        </section>
                    </aside>
                    <section class="card-body">
                        <header class="head">
                            <aside class="contents">
                                <h6 class="bold-big-text">Hill Way Town Top</h6>
                                <h6 class="thin-big-text">California City, CA, USA</h6>
                                <h6 class="small-text">Faucibus ultrices sociis id sem justoultrices sociis facilisi
                                    suscipit sit sem... <span>Read more</span></h6>
                                <h6 class="date-text">Created On Feb 21, 2023</h6>
                                <aside class="message-icon">
                                    <span class="material-icons-outlined">
                                        chat
                                    </span>
                                </aside>
                            </aside>
                            <aside class="footer1">
                                <aside class="left-footer"><span class="image-p">
                                        <img src="\assets\bed (1).png" alt="" width="17rem" height="13rem">
                                        <h6 class="footer-text">3</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\shavar.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">4</h6>
                                    </span>
                                    <span class="image-p">
                                        <img src="\assets\home.png" alt="" width="14rem" height="13rem">
                                        <h6 class="footer-text">1200</h6>
                                    </span>

                                </aside>
                                <aside class="right-footer">
                                    <h6 class="footer-text">$ 1,000.00</h6>
                                </aside>

                            </aside>
                        </header>
                        <aside class="buttons">
                            <span class="button-reject">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Reject</span></button>
                            </span>
                            <span class="button-accept">
                                <button>
                                    <span class="transition"></span>
                                    <span class="label">Accept</span></button>
                            </span>


                            <!-- <button>Accept</button> -->
                        </aside>
                    </section>
                </aside>


            </section>
            <section class="footer">
                <aside class="next-click">
                    <span class="material-icons-round">keyboard_arrow_left</span>
                    <p class="footer-element-1">1</p>
                    <span class="material-symbols-outlined more_horiz">more_horiz </span>
                    <p>2</p>
                    <p>3</p>
                    <span class="material-icons-round">chevron_right</span>


                </aside>
            </section>
        </aside>
    </section>

</header>
<!-- ////////////////////////////////////////////// -->