<header class="main">
    <section class="nav-bar">
        <aside class="icon-xene">
            <img src="\assets\xeneicon.jpeg" alt="">
        </aside>
        <aside class="group">
            <aside class="search">
                <div class="input-container">
                    <span class="material-symbols-outlined icon">search</span>
                    <input class="input-field" type="text" placeholder="search" name="usrnm">
                </div>
            </aside>
            <aside class="bell-icon"> <span class="material-symbols-outlined bell">notifications</span> </aside>
            <aside class="profile-text">
                <img src="\assets\profile.jpeg" width="40rem" height="40rem" alt="" class="image">
                <aside class="text">
                    <p class="bold-text">Tovino Thomas </p>
                    <p class="thin-text">Super Power User</p>
                </aside>
            </aside>
            <aside class="icon-down"><span class="material-symbols-outlined">expand_more</span></aside>
        </aside>
    </section>
    <section class="body">
        <aside class="side-bar">
            <aside class="dashboard" id="group-style">
                <img src="\assets\1.jpeg" alt="" width="23.5rem" height="auto">
                <p>Dashboard</p>
            </aside>
            <aside class="users" id="group-style">
                <img src="\assets\2.jpeg" alt="" width="30rem" height="auto">
                <p>Active Users</p>

            </aside>
            <aside class="property" id="group-style">
                <img src="\assets\3.jpeg" alt="" width="30rem" height="auto">
                <p>Properties</p>
            </aside>
            <aside class="enquiry" id="group-style">
                <img src="\assets\4.jpeg" alt="" width="20rem" height="auto">
                <p>Enquiry</p>
            </aside>
            <aside class="requist" id="group-style">
                <img src="\assets\5.jpeg" alt="" width="23.5rem" height="auto">
                <p>Request</p>
            </aside>
            <aside class="chat" id="group-style">
                <img src="\assets\6.jpeg" alt="" width="23.5rem" height="auto">
                <p>Chat</p>
            </aside>
        </aside>
        <aside class="main-body">
            <section class="main-body-top">
                <aside class="search">
                    <p>Request List :</p>
                    <div class="input-container">
                        <span class="material-symbols-outlined icon">search</span>
                        <input class="input-field" type="text" placeholder="search" name="usrnm">
                    </div>
                </aside>
                <aside class="icons">
                    <aside class="dashboard-icon"> <img src="\assets\1.jpeg" alt="" width="30rem" height="30rem"></aside>
                    <aside class="squire-icon">
                        <span class="material-symbols-outlined">
                            crop_3_2
                        </span>
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                    </aside>

                </aside>
            </section>
            <section class="main-body-bottom"></section>
        </aside>
    </section>

</header>