<header class="main">
    <section class="container">

        <aside class="head-part">
            <aside class="text">Create New Seller |<span> Individual Seller </span></aside>
            <aside class="close-icon"><span class="material-icons-round">close</span></aside>
        </aside>
        <aside class="body-part">
            <section class="overall">
                <aside class="headding">
                    <aside class="left">Company Details</aside>
                    <aside class="right">STEP 3 OF 4</aside>
                </aside>
                <aside class="sections">

                    <aside class="section1">
                        <aside class="companydetails-body">
                            <header class="companyaddress">
                                <p>Company Address</p>
                            </header>
                            <header class="input">
                                <aside class="input-firstsection">

                                    <aside class="fieldset" id="fieldset1">
                                        <footer class="legend">
                                            <p>Address Line 1 *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - Sunteck Realty Ltd -">
                                    </aside>
                                    <aside class="fieldset" >
                                        <footer class="legend">
                                            <p>Country *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - United States -"  class="con-inp">
                                        <img src="\assets\flag.svg" alt="" width="25rem" height="40rem">
                                    </aside>
                                    <aside class="fieldset">
                                        <footer class="legend">
                                            <p>City *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - Baltimore -">
                                        
                                    </aside>

                                </aside>
                                <aside class="input-secondsection">

                                    <aside class="fieldset" id="fieldset1">
                                        <footer class="legend">
                                            <p>Address Line 2 *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - 21154-0001, PO BOX -">
                                    </aside>
                                    <aside class="fieldset">
                                        <footer class="legend">
                                            <p>State *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - Maryland -">
                                    </aside>
                                    <aside class="fieldset">
                                        <footer class="legend">
                                            <p>Zip Code *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - 20906 -">
                                    </aside>

                                </aside>
                            </header>
                        </aside>

                    </aside>
                    <aside class="section1" id="fieldset-img">
                        
                        <aside class="companydetails-body">
                            <header class="selleraddress">
                                <p>Seller Address</p>
                            </header>
                            <header class="input">
                                <aside class="input-firstsection">


                                    <aside class="fieldset" id="fieldset1">
                                        <footer class="legend">
                                            <p>Address Line 1 *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - Sunteck Realty Ltd -">
                                    </aside>
                                   
                                    <aside class="fieldset" id="fieldset-img">
                                        <footer class="legend">
                                            <p>Country *</p>
                                        </footer>
                                    
                                        <input type="text" placeholder="e.g. - United States -" class="con-inp">
                                        <img src="\assets\flag.svg" alt="" width="25rem" height="40rem">
                                    </aside>
                                    <aside class="fieldset">
                                        <footer class="legend">
                                            <p>City *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - Baltimore -">
                                    </aside>

                                </aside>
                                <aside class="input-secondsection">
                                    <aside class="fieldset" id="fieldset1">
                                        <footer class="legend">
                                            <p>Address Line 2 *</p>
                                        </footer>
                                        <input type="text" placeholder="e.g. - 21154-0001, PO BOX -">
                                        </aside>
                                        <aside class="fieldset">
                                            <footer class="legend">
                                                <p>State *</p>
                                            </footer>
                                            <input type="text" placeholder="e.g. - Maryland -">
                                        </aside>
                                        <aside class="fieldset">
                                            <footer class="legend">
                                                <p>Zip Code *</p>
                                            </footer>
                                            <input type="text" placeholder="e.g. - 20906 -">
                                        </aside>
                                        </aside>
                                        </header>
                                        </aside>
                                        </aside>
                                        </aside>
                                        
                                        
                                        <aside class="buttons">
                                            <button class="button1">Back</button>
                                            <button class="button2">Save & Continue</button>
                                        </aside>
                                        </section>
                                        </aside>
                                        
                                        </section>
                                        
                                        </header>