<header class="main">
    <section class="container">

        <aside class="head-part">
            <aside class="text"><p>Create New Seller |<span> Individual Seller </span></p></aside>
            <aside class="close-icon"><span class="material-icons-round">close</span></aside>
        </aside>
        <aside class="body-part">
            <section class="overall">
                <aside class="headding">
                    <aside class="left">Company Details</aside>
                    <aside class="right">STEP 3 OF 4</aside>
                </aside>
                    <aside class="sections">

               <aside class="section1">
                <aside class="companydetails-body">
                <header class="companyaddress"><p>Company Address</p></header>
                <header class="input">
                    <aside class="input-firstsection">
                     
                        <fieldset >
                            <legend>Address Line 1 *</legend>
                            <input type="text" placeholder="e.g. - Sunteck Realty Ltd -">
                        </fieldset>
                        <fieldset>
                            <legend>Country *</legend>
                            <input type="text" placeholder="e.g. - United States -">
                        </fieldset>
                        <fieldset>
                            <legend>City *</legend>
                            <input type="text" placeholder="e.g. - Baltimore -">
                        </fieldset>
                    
                    </aside>
                    <aside class="input-secondsection">
                        <fieldset>
                            <legend>Address Line 2 *</legend>
                            <input type="text" placeholder="e.g. - 21154-0001, PO BOX -">
                        </fieldset>
                        <fieldset>
                            <legend>State *</legend>
                            <input type="text" placeholder="e.g. - Maryland -">
                        </fieldset>
                        <fieldset>
                            <legend>Zip Code *</legend>
                            <input type="text" placeholder="e.g. - 20906 -">
                        </fieldset>
                    </aside>
                </header>
                </aside>

               </aside>
               <aside class="section1">
                <aside class="companydetails-body">
                    <header class="companyaddress">
                        <p>Seller Address</p>
                    </header>
                    <header class="input">
                        <aside class="input-firstsection">
                
                            <fieldset>
                                <legend>Address Line 1 *</legend>
                                <input type="text" placeholder="e.g. - Sunteck Realty Ltd -">
                            </fieldset>
                            <fieldset>
                                <legend>Country *</legend>
                                <input type="text" placeholder="e.g. - United States -">
                            </fieldset>
                            <fieldset>
                                <legend>City *</legend>
                                <input type="text" placeholder="e.g. - Baltimore -">
                            </fieldset>
                
                        </aside>
                        <aside class="input-secondsection">
                            <fieldset>
                                <legend>Address Line 2 *</legend>
                                <input type="text" placeholder="e.g. - 21154-0001, PO BOX -">
                            </fieldset>
                            <fieldset>
                                <legend>State *</legend>
                                <input type="text" placeholder="e.g. - Maryland -">
                            </fieldset>
                            <fieldset>
                                <legend>Zip Code *</legend>
                                <input type="text" placeholder="e.g. - 20906 -">
                            </fieldset>
                        </aside>
                    </header>
                </aside>
               </aside>
                    </aside>           
                   
              
                <aside class="buttons">
                    <button>Back</button>
                    <button>Save & Continue</button>
                </aside>
            </section>
        </aside>
        
    </section>
</header>
